:root {
    --mic-menu-height: 50px;
}



.mic_editor {
    height: 95vh;
    width: 95vw;
    background: #ccc;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.mic_menu {
    height: var(--mic-menu-height);
    width: 100%;
    background: #eee;
    margin: 0px;
    padding: 0px;
    box-shadow: #ccc 0px 0px 5px 0px;
    z-index: 2;
    position: relative;
}

ul.mic_menu_items::-webkit-scrollbar {
    display: none;
}


.mic_content {
    height: calc(95vh - var(--mic-menu-height) - (5px * 2));
    width: calc(100% - (8px * 2));
    overflow-y: scroll;
    background: #ddb;
    z-index: 1;
    position: relative;
    outline: none;
    padding: 5px 8px;
    word-break: break-all;
    line-height: 1.2;
}


ul.mic_menu_items {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    height: var(--mic-menu-height);
    overflow-x: scroll;
    overflow-y: hidden;
}

ul.mic_menu_items li {
    list-style: none;
    width: 50px;
    min-width: 50px;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    height: var(--mic-menu-height);
    line-height: var(--mic-menu-height);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: solid #ddd 1.5px;
    transition-duration: 0.5s;
    background: #eee;
    cursor: pointer;
}

ul.mic_menu_items > li:hover {
    background: #bbb;
}

ul.mic_menu_items > li:focus {
    background: #bbb;
}

ul.mic_menu_items li svg {
    vertical-align: middle;
}

ul.mic_menu_items li:hover > svg {
    fill: #cff;
}

/*

@media screen and (orientation:portrait) {
    body {
        background: red;
    }
}

@media screen and (orientation:landscape) {
    body {
        background: green;
    }
}
*/

.bold-class{
    font-weight: bold;
    color: red;
}
